* {
	padding: 0;
	margin: 0;
}

body {
	background: #EEE;
	font: 16px/1 Verdana, Arial, sans-serif;
	padding: 60px;
}

p, ol, ul, dl, img {
	padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	padding-bottom: 10px;
	padding-top: 10px;
}

ol, ul {
	padding-top: 0.5em;
	padding-left: 40px;
}

ul li {list-style-type: circle;}
ul li ul li {list-style-type: square;}
ul li ul li ul li {list-style-type: disc;}

ol li, ul li ol li {list-style-type: decimal;}
ol li ol li, ul li ol li ol li {list-style-type: lower-roman;}
ol li ol li ol li, ul li ol li ol li ol li {list-style-type: lower-alpha;}
ol li ol li ol li ul li, ol li ol li ol li ol li {list-style-type: circle;}

blockquote {
	background: #DDD;
	border: 1px solid #CCC;
	border-left-width: 10px;
	padding: 20px;
	margin: 0 0 20px 0;
	font: 16px/1.5 Georgia, serif;
	font-style: italic;
	color: #666;
}

blockquote:hover {
	color: #000;
	border-color: #000;
}

blockquote p:last-child {
	padding-top: 0;
}
