body { background: #EEE; font: 12px/1.5 Verdana, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 0.1em; font-weight: bold; line-height: 1.2; margin: 0.5em 0; }

h1 { font-size: 2.0em; line-height: 1.1; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; font-weight: bold; }

#contents { width: 25%; border:1px solid #aaa; font: 11px/1.5 Verdana, Arial, sans-serif; }

ul, ol { padding-top: 0.5em; padding-left: 2em; }

p ul { padding-top: 0; }

ol li, ul li ol li { list-style-type: decimal; }
ol li ol li, ul li ol li ol li { list-style-type: lower-roman; }
ol li ol li ol li, ul li ol li ol li ol li { list-style-type: lower-alpha; }
ol li ol li ol li ul li, ol li ol li ol li ol li { list-style-type: circle; }

#toptable { width: 20%; border:1px solid #aaa; float: right; font: 11px/1.5 Verdana, Arial, sans-serif; }

thead, tfoot #toptable { background: #B5FACA; }

tfoot { font-style: italic; }

th, td { padding: 10px; }