* {
	padding: 0;
	margin: 0;
}

body {
	background: #EEE;
	font: 12px/1.5 Verdana, Arial, sans-serif;
	padding: 60px;
}

p {
	padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	padding-bottom: 10px;
	padding-top: 10px;
}

a { 
	color: #369; 
	text-decoration: none;
}

a:hover { 
	color: #308; 
	text-decoration: underline;
}

ol, ul {
	padding-top: 0.5em;
	padding-left: 40px;
}

#contents ol { 
	counter-reset: item
}

#contents li { 
	display: block
}

#contents li:before { 
	content: counters(item, ".") ". ";
	counter-increment: item
}

ol li, ul li ol li {list-style-type: decimal;}
ol li ol li, ul li ol li ol li {list-style-type: lower-roman;}
ol li ol li ol li, ul li ol li ol li ol li {list-style-type: lower-alpha;}
ol li ol li ol li ul li, ol li ol li ol li ol li {list-style-type: circle;}

table#toptable {
	width:50px;
	border:2px solid #aaa;
	float: right;
	font: 11px/1.5 Verdana, Arial, sans-serif;
}


thead, tfoot {
	background: #ADD;
}

tfoot {
	font-style: italic;
}

th, td {
	padding: 10px;
}
