@import url("typography.css");
@import url("navigation.css");
@import url("elements.css");

* { padding: 0; margin: 0; }

body { background: #0066CC; }

a { text-decoration: none; color: #009; }
a:hover { text-decoration: underline; color: #FF3300; }

.image { clear: both; }
.image img { padding: 0 3.5% 3.5% 0; float: left; display: block; width: 31%; }
.image img:last-of-type { padding-right: 0; }

#container { background: #FFF; width: 85%; margin: 0 auto; border-top: 15px solid #0066CC; border-bottom: 20px solid #0066CC; }

#header { padding: 30px; }

#footer { overflow: hidden; padding: 15px 25.2%; }
#footer p { padding: 0; text-align: center; }

#main { overflow: hidden; }
#main .content, #main .sidebar { float: left; overflow: hidden; /*border-bottom: 1px solid #0066CC;*/ }
#main .content { width: 50%; }
#main .sidebar { width: 25%; }
#main .inner { padding: 30px; }

#main.sidebar-none .sidebar { display: none; }
#main.sidebar-none .content { width: 50%; float: none; margin: 0 auto; padding-bottom: 4em; }

#main.sidebar-double .sidebar { width: 25%; }
#main.sidebar-double .content { width: 50%; margin: 0; }

#main.sidebar-right .sidebar { width: 25%; float: right; }
#main.sidebar-right .content { width: 70%; margin: 0; }


