@import url(http://fonts.googleapis.com/css?family=Days+One);

body { font: 12px/1.5 Verdana, Arial, sans-serif; }
#footer { font: 10px/1.5 Verdana, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; font-family: Verdana, Arial, sans-serif; line-height: 1.2; margin: 0 0 0.5em 0; }

#maintitle { padding-top: 2em; color: #0066CC; font-family: "Days One", Arial, sans-serif; margin: 0; }

h1 { font-size: 2.0em; line-height: 1.1; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; font-weight: bold; }
#maintitle { font-size: 3.0em; line-height: 1.1; }

p, ol, ul, dl { padding-bottom: 1.5em; text-align: justify; }

ul, ol { padding-top: 0.5em; padding-left: 2em; }
ul.gallery { padding-left: 0; }

p + ul { padding-top: 0; }

ul { list-style-type: none; }
ul li { list-style-type: none; }
ul li ul li { list-style-type: none; }
ul li ul li ul li { list-style-type: none; }

.sidebar ul { overflow: hidden; }
.sidebar ul li ul li { display: block; list-style: none outside; padding-left: 20px; }
.sidebar li a { display: block; padding: 0 2px 0 0; text-decoration: none; color: #000; }
.sidebar li img { float: left; }

blockquote { background: #FFF; border: 1px solid #0066CC; padding: 40px; margin: 0 0 20px 0; font-style: italic; color: #0066CC; font-family: Georgia, serif; }
blockquote:hover { color: #054A8F; border-left-width: 10px; border-color: #054A8F; }
blockquote p:last-child { padding: 0; }