* {
	padding: 0;
	margin: 0;
}

body {
	background: #EEE;
	padding: 60px;
}

h1, h2, h3, h4, h5, h6 {
	padding-bottom: 10px;
	padding-top: 10px;
}

a { 
	color: #369; 
	text-decoration: none;
}

a:hover { 
	color: #308; 
	text-decoration: underline;
}

ul, ol {
  padding-top: 0px;
  padding-left: 15px;
}

#contents ol { 
	counter-reset: item
}

#contents li { 
	display: block
}

#contents li:before { 
	content: counters(item, ".") ". ";
	counter-increment: item
}

#toptable {
	width: 200px;
	border:1px solid #aaa;
	float: right;
	font: 11px/1.5 Verdana, Arial, sans-serif;
}


thead, tfoot #toptable{
	background: #B5FACA;
}

tfoot {
	font-style: italic;
}

th, td {
	padding: 10px;
}
